*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#navbar{
    background-color: #44c99e;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding-right: 2rem;
}

#welcome-section{
    background-color: #44c99e;
    display: flex;
    flex-direction: column;
    justify-content:center;    
    align-items:flex-start;
    height: 100vh;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}    

#projects-grid{
    
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 20rem 20rem;
    grid-gap: 20px;
    width: 80%;

}

#project-img{
    object-fit: cover; 
    object-position: top;
    
    width:  100%;
    max-height: calc(100% - 3.7rem);
    
}

#projects{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.project-title{
    background-color: lightgray;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: -0.3rem;    
}

#contact{
    background-color: #44c99e;
}
    