*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

#navbar{
    background-color: #44c99e;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    padding-right: 9rem;
    padding-top: 3rem;
    
}

#navlink{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

#welcome-section{
    background-color: #44c99e;
    display: flex;
    flex-direction: column;
    justify-content:center;   
    align-items:flex-start;
    height: 100vh;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}    

#projects-grid{
    
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 20rem 20rem;
    grid-gap: 20px;
    width: 80%;

}

#project-img{
    object-fit: cover; 
    object-position: top;
    
    width:  100%;
    max-height: calc(100% - 3.7rem);
    
}

#projects{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.project-title{
    background-color: lightgray;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: -0.3rem;    
}

#contact{
    background-color: #44c99e;
}
    
.hi,.name{
    font-size: 9rem;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.typing-text{
    margin-top: 3rem;
    font-size: 3rem;
    color: #ffffff;
    font-family: 'Inconsolata', monospace
}

#welcome-text{
    margin-left: 9rem;
    margin-top: -10rem;
}

.typing-text::after {
    content: "|";
    animation: blink ease 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0;
    } 50% {
      opacity: 1;
    }
  }

