*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}


main{
    display: flex;
    flex-direction: column;
    width: 100%;
}   

/*Navbar*/

#navbar{
    background-color: #44c99e;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    padding-right: 9rem;
    padding-top: 3rem;
    
}

#navlink{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

a{
    text-decoration: none;
}

/*Hero Section*/

#welcome-section{
    background-color: #44c99e;
    height: calc(100vh - 4rem);
    width: 100%;
}

#welcome-text{
    margin-left: 9rem;
    display: flex;
    flex-direction: column;
    justify-content:center;   
    align-items:flex-start;
}

.hi,.name{
    font-size: 9rem;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.typing-text{
    margin-top: 3rem;
    font-size: 3rem;
    color: #ffffff;
    font-family: 'Inconsolata', monospace;
}

/*Animated cursor*/

.typing-text::after {
    content: "|";
    animation: blink ease 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0;
    } 50% {
      opacity: 1;
    }
  }

/*Nav button arrows*/

#nav-buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    gap: 0.5rem;
    
}

#white-arrow{
    height: 4rem;
    width: auto;
    animation: fadeIn 6s;
}

/*Animation for nav button fade in*/

@keyframes fadeIn {
    0% { opacity: 0; }
    50% {opacity: 0;}
    100% { opacity: 1; }
  }
 
/*Projects Section*/

#projects{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#projects-grid{
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 20rem 20rem;
    grid-gap: 5rem;
    width: 80%;
    padding: 5rem;
}

.project-tile{
    
    
    box-shadow: 5px 5px 25px 5px lightgray;
    border-radius: 0.5rem;
}

#project-img{
    object-fit: cover; 
    object-position: top;    
    width:  100%;
    max-height: calc(100% - 4.1rem);    
}

.project-title{
    background-color: #ffffff;
    padding: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-top: -0.3rem; 
    font-family: 'Inconsolata', monospace;
    color: #2f2f2f;
    
}

/*Contact Section*/

#contact{
    background-color: #44c99e;
}
